
.Button {
    position: absolute;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;


}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
    background: #703b09;
    padding: 15px;
    margin: 10px;
    top: 40px;
    left: 330px;
}

.Danger {
    color: #944317;
}
.Get {
    color: #5C9210;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.BtnOrder{
    color: #5C9210;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    top: 10px;
    right: 0;
}