.wrap {
    position: relative;
}
.wrapper {
    margin: 50px;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
}
.img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid yellow;
}
.title {
    position: absolute;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: -40px;
}
.price {
    position: absolute;
    font-size: 28px;
    top: 90px;
    left: 140px;
}
.btn {
    position: absolute;
    top: 90px;
    left: 200px;
}
.card {
    position: absolute;
    top: 0;
    right: 250px;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}
.cardItem {
    margin: 15px;

}
.card span {
    margin: 5px;
    font-weight: bold;
}
.total {
    position: absolute;
    top: 300px;
    left: 300px;
}
